{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fonts.css' %}" type="text/css">
        <title>A2조 Monthly Web Project</title>
    </head>

    <body style="font-family: NanumReg;">
    
        <header class="sticky-top bg-success">
            <div class="container-fluid text-center text-white" style="font-family: NanumExtBold; font-size: 40pt;">
                고객 소비패턴을 통한 페르소나 분석
            </div>
        </header>

        <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
            <div class="col">
                <div class="row pt-5">

                    <div class="col-2">
                        <div id="table-of-contents" class="list-group text-center" style="position: sticky; top: 100px; margin-top: 50px;">
                                <a href="#purpose" class="list-group-item list-group-item-action">분석 목적</a>
                                <a href="#description" class="list-group-item list-group-item-action">데이터 설명 및 출처</a>
                                <a href="#total" class="list-group-item list-group-item-action">데이터 전체보기</a>
                                <a href="#hypo1" class="list-group-item list-group-item-action">가설 1</a>
                                <a href="#hypo2" class="list-group-item list-group-item-action">가설 2</a>
                                <a href="#hypo3" class="list-group-item list-group-item-action">가설 3</a>
                                <a href="#hypo4" class="list-group-item list-group-item-action">가설 4</a>
                                <a href="#result" class="list-group-item list-group-item-action">결론</a>
                                <a href="#" class="list-group-item list-group-item-action">맨 위로</a>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="container">
                            <div class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#table-of-contents" data-bs-smooth-scroll="true" tabindex="0">

                                <div class="row">
                                    <p id="purpose"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <h2 style="font-family: NanumBold;">분석 목적</h2>
                                    <h5>소비자 페르소나 유형 분석을 통해 개인화된 상품 구매 추천 시스템 설계</h5>
                                </div>

                                <div class="row">
                                    <p id="description"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <h2 style="font-family: NanumBold;">데이터 설명 및 출처</h2>
                                    <h5>
                                        <ul>
                                            <li>
                                                설명
                                            </li>
                                            <ul>
                                                <li>
                                                    고객 성격 분석은 기업의 이상적인 고객에 대한 상세한 분석입니다.<br>
                                                    이를 통해 기업은 고객을 더 잘 이해하고 다양한 유형의 고객의 특정 요구 사항, 행동 및 우려 사항에 따라 제품을 더 쉽게 수정할 수 있습니다.<br>
                                                    고객 성격 분석은 기업이 다양한 유형의 고객 세그먼트의 대상 고객을 기반으로 제품을 수정하는 데 도움이 됩니다.<br>
                                                    예를 들어, 회사 데이터베이스의 모든 고객에게 신제품을 마케팅하기 위해 비용을 지출하는 대신<br>
                                                    회사는 어떤 고객 세그먼트가 제품을 구매할 가능성이 가장 높은지 분석한 다음 해당 특정 세그먼트에만 제품을 마케팅할 수 있습니다.
                                                </li>
                                            </ul>
                                            <li>
                                                출처
                                                <ul>
                                                    <li>
                                                        <a href="https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis">Kaggle Competition - Customer Personality Analysis</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </h5>
                                </div>


                                <div class="row">
                                    <p id="total"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">데이터 전체 보기</h2>
                                    <h5>가설 설명</h5>
                                    
                                    {% for src in hypo1 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <!-- <img src={% static 'theory_1.png' %} class="rounded" loading="lazy" style="width: 500px"> -->
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col">
                                            대충 넣어 놓은 이미지<br>
                                            데이터 전체 분포 설명 추가 필요<br>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>


                                <div class="row">
                                    <p id="hypo1"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 1</h2>
                                    <h5>고객 가구의 자녀 수에 따라 지난 2년간 과자에 지출한 금액이 차이가 있을 것이다.</h5>

                                    {% for src in hypo1 %}
                                    <div class="row mt-5" style="border">
                                        <div class="col">
                                            <!-- <img src={% static 'theory_1.png' %} class="rounded" loading="lazy" style="width: 500px"> -->
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="hypo2"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 2</h2>
                                    <h5>고객의 결혼 상태에 따라 지난 2년간 육류, 생선에 지출한 금액이 차이가 있을 것이다.</h5>
        
                                    {% for src in hypo2 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <!-- <img src={% static 'theory_1.png' %} class="rounded" loading="lazy" style="width: 500px"> -->
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="hypo3"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 3</h2>
                                    <h5>고객의 연간 가구 소득에 따라 지난 2년간 금에 지출된 금액이 차이가 있을 것이다.</h5>

                                    {% for src in hypo3 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <!-- <img src={% static 'theory_1.png' %} class="rounded" loading="lazy" style="width: 500px"> -->
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="hypo4"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 4</h2>
                                    <h5>고객 가구의 자녀 수나 청소년 수가 높을 수록 불만 사항을 제기한 경우가 비례할 것이다.</h5>

                                    {% for src in hypo4 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <!-- <img src={% static 'theory_1.png' %} class="rounded" loading="lazy" style="width: 500px"> -->
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                            description description description description description description description description
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="result"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">결론</h2>
                                    <h5>
                                        <ol>
                                            <li>가설 1</li>
                                                <ul>
                                                    <li>자녀수와 식습관 지출은 반비례한다</li>
                                                    <li>반대로, 자녀수와 금 소비는 비례한다</li>
                                                </ul>
                                            <li>가설 2</li>
                                                <ul>
                                                    <li>결혼 상태와는 관계없이 비슷한 지출을 하며, 와인 > 고기 > 금의 순서로 지출의 크기가 줄어든다</li>
                                                    <li>결혼한 사람 > 동거 > 독신 > 이혼 순으로 구매 빈도가 높다</li>
                                                </ul>
                                            <li>가설 3</li>
                                                <ul>
                                                    <li>소득이 0일 때를 제외하고, 소득이 적을 수록 금의 구매량이 감소한다</li>
                                                    <li>소득순위가 높아질 수록 더욱 다양한 금액 투자가 이루어져 평균적인 금 구매량은 높을 것으로 추정된다</li>
                                                </ul>
                                            <li>가설 4</li>
                                                <ul>
                                                    <li>자녀 수 혹은 자녀 존재 여부와 컴플레인 비율은 정비례한다</li>
                                                    <li>아래의 그래프를 통해 청소년 존재 여부와 컴플레인 비율은 관계가 없음을 확인할 수 있다</li>
                                                    <li>그러나 청소년 자녀 수가 3 이상인 표본이 없어 3 이상일 때는 컴플레인 비율이 증가할지는 증명이 불가하다</li>
                                                </ul>
                                        </ol>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>