{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fonts.css' %}" type="text/css">
        <title>A2조 Monthly Web Project</title>
    </head>

    <body style="font-family: NanumReg;">
    
        <header class="sticky-top bg-success">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6 container-fluid text-center text-white" style="font-family: NanumExtBold; font-size: 40pt;">
                    고객 소비패턴을 통한 페르소나 분석
                </div>
                <div class="col-2 text-white">
                    <span class="align-bottom" style="font-size: 15pt;">Github Repository </span><a href="https://github.com/hunnxx/Programmers_Monthly_Project_1_a2"><img src="{% static 'github_icon_white.png' %}" width="50px" class="pt-3"></a>
                </div>
        </header>

        <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
            <div class="col">
                <div class="row pt-5">

                    <div class="col-2">
                        <div id="table-of-contents" class="list-group text-center" style="position: sticky; top: 100px; margin-top: 50px;">
                                <a href="#purpose" class="list-group-item list-group-item-action">분석 목적</a>
                                <a href="#description" class="list-group-item list-group-item-action">데이터 설명 및 출처</a>
                                <a href="#total" class="list-group-item list-group-item-action">데이터 전체보기</a>
                                <a href="#hypo1" class="list-group-item list-group-item-action">가설 1</a>
                                <a href="#hypo2" class="list-group-item list-group-item-action">가설 2</a>
                                <a href="#hypo3" class="list-group-item list-group-item-action">가설 3</a>
                                <a href="#hypo4" class="list-group-item list-group-item-action">가설 4</a>
                                <a href="#result" class="list-group-item list-group-item-action">결론</a>
                                <a href="#" class="list-group-item list-group-item-action">맨 위로</a>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="container">
                            <div class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#table-of-contents" data-bs-smooth-scroll="true" tabindex="0">

                                <div class="row">
                                    <p id="purpose"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <h2 style="font-family: NanumBold;">분석 목적</h2>
                                    <h5>소비자 페르소나 유형 분석을 통해 개인화된 상품 구매 추천 시스템 설계</h5>
                                </div>

                                <div class="row">
                                    <p id="description"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <h2 style="font-family: NanumBold;">데이터 설명 및 출처</h2>
                                    <h5>
                                        <ul>
                                            <li>
                                                설명
                                            </li>
                                            <ul>
                                                <li> 고객 성격 분석은 기업의 이상적인 고객에 대한 상세한 분석입니다. </li>
                                                <li> 이를 통해 기업은 고객을 더 잘 이해하고 다양한 유형의 고객의 특정 요구 사항, 행동 및 우려 사항에 따라 제품을 더 쉽게 수정할 수 있습니다.</li>
                                                <li> 고객 성격 분석은 기업이 다양한 유형의 고객 세그먼트의 대상 고객을 기반으로 제품을 수정하는 데 도움이 됩니다.</li>
                                                <li> 예를 들어, 회사 데이터베이스의 모든 고객에게 신제품을 마케팅하기 위해 비용을 지출하는 대신 </li>
                                                <li> 회사는 어떤 고객 세그먼트가 제품을 구매할 가능성이 가장 높은지 분석한 다음 해당 특정 세그먼트에만 제품을 마케팅할 수 있습니다. </li>
                                            </ul>
                                            <li>
                                                출처
                                                <ul>
                                                    <li>
                                                        <a href="https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis">Kaggle Competition - Customer Personality Analysis</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </h5>
                                </div>


                                <div class="row">
                                    <p id="total"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <h2 style="font-family: NanumBold;">데이터 전체 보기</h2>
                                    <h4>
                                        <ul>
                                            <li>
                                                가설
                                            </li>
                                            <h5>
                                                <ul>
                                                    <li> 고객 가구의 자녀 수에 따라 지난 2년간 과자에 지출한 금액이 차이가 있을 것이다. </li>
                                                    <li> 고객의 결혼 상태에 따라 지난 2년간 육류, 생선에 지출한 금액이 차이가 있을 것이다. </li>
                                                    <li> 고객의 연간 가구 소득에 따라 지난 2년간 금에 지출된 금액이 차이가 있을 것이다.</li>    
                                                    <li> 고객 가구의 자녀 수나 청소년 수가 높을 수록 불만 사항을 제기한 경우가 비례할 것이다. </li> 
                                                </ul>
                                            </h5>
                                            
                                            
                                        </ul>
                                    </h4>
                                    
                                                                       
                                    {% for src in hypo0 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col">

                                            {% if src == 'theory_0_1.png' %}
                                                <li>2015년 기준 4-50대 고객이 주를 이루고 있다</li>
                                                <li>2012-2014년에 신규가입한 고객들에 대한 데이터이다</li>
                                                <li>수입은 주로 10만달러 이하 구간에 분포해 있다</li>
                                            {% endif %}

                                            {% if src == 'theory_0_2.png' %}
                                                <li>컴플레인 경험이 있는 고객이 대다수인 것으로 나타나며, 자녀가 없는 가정이 다수인 것으로 드러난다</li>
                                                <li>주로 와인에 많은 지출을 하는 것으로 보이며, 다음으로 육류에의 지출이 높은 것으로 나타난다</li>
                                            {% endif %}

                                            {% if src == 'theory_0_3.png' %}
                                                <li>모든 소비영역에서 지출의 양은 크게 차이가 있으나, 지출의 패턴은 유사한 것으로 나타난다</li>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>


                                <div class="row">
                                    <p id="hypo1"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 1</h2>
                                    <h5>고객 가구의 자녀 수에 따라 지난 2년간 간식거리에 지출한 금액이 차이가 있을 것이다</h5>

                                    {% for src in hypo1 %}
                                    <div class="row mt-5" style="border">
                                        <div class="col">
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            {% if src == 'theory_1.png' %}
                                                <li>금을 제외한 모든 소비영역에서 자녀수가 증가함에 따라 지출 금액이 감소하는 경향이 드러난다</li>
                                                <li>자녀 수에 따라 간식거리의 지출이 늘어날 것으로 예상했으나, 그렇지 않은 것으로 나타났다</li>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="hypo2"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 2</h2>
                                    <h5>고객의 결혼 상태에 따라 지난 2년간 육류, 생선에 지출한 금액이 차이가 있을 것이다</h5>
                                    
                                    {% for src in hypo2 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            {% if src == 'theory_2_1.png' %}
                                            <li>결혼상태에 따라 Alone의 경우 매우 낮은 소비량을 보였다</li>
                                            <li>Yolo는 와인과 금에 대한 소비가 다른 소비보다 월등히 높다</li>
                                            <li>고기, 생선, 과일, 금의 경우 Absurd 유형이 가장 많이 산다는 것을 알 수 있다</li>
                                            <li>결론적으로 고기, 생선을 사는 사람들은 Absurd, Yolo, Alone을 제외한 나머지는 비슷한 금액을 지출하며 산다</li>
                                            <li>상대적으로 Absurd는 큰 지출을, Yolo, Alone는 적은 지출을 하는 모습을 보인다</li>
                                            {% endif %}

                                            {% if src == 'theory_2_2.png' %}
                                            <li>모든 소비 영역에서 전반적으로 유사한 소비 패턴이 드러나나, 금의 경우, "기타" 가정 형태의 지출이 가장 많은 것으로 나타난다</li>
                                            <li>식품류의 경우, "이혼" 혹은 "사별"한 가정이 가장 많은 지출을 보인다</li>
                                            <li>결혼 여부(결혼/독신)의 경우 소비 패턴에 큰 차이를 보이지는 않는 것으로 나타난다</li>
                                            {% endif %}

                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="hypo3"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 3</h2>
                                    <h5>고객의 연간 가구 소득에 따라 지난 2년간 금에 지출된 금액이 차이가 있을 것이다</h5>

                                    {% for src in hypo3 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            {% if src == 'theory_3_1.png' %}
                                                <li> 전체적인 분포를 보기는 힘든 그래프지만 확실하게 소득이 엄청 높은 사람의 금투자량이 적은 특이점과 소득이 없는 사람이 금을 엄청 사는 특이점을 보인다 </li>
                                            {% endif %}
                                            {% if src == 'theory_3_2.png' %}
                                                <li> 일반적으로는 소득이 높을 수록 분포의 표준 편차가 크며 소득이 적다</li>
                                                <li> 가장 빈도가 많은 금 구매량이 0원인 것으로 보아 소득이 적을 수록 금을 아예 구매하지 않는 인구가 많다</li>
                                            {% endif %}

                                            {% if src == 'theory_3_3.png' %}
                                                <li> 1번 그래프와 2번 그래프를 합쳐서 봤을 때 전체적으로 금 구매량이 저소득일 수록 없는 사람이 많아 평균 금 구매량은 소득과 비례하는 모습을 보여준다</li>
                                                <li> 다만 소득이 존재하지 않을때는 조금 올라간 모습을 보여주는데 이는 이미 자산이 좀 있는 사람이 돈을 벌지 않고 투자만 하여 소득이 적은 사람보다 투자량이 높을것으로 추정된다</li>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="hypo4"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">가설 4</h2>
                                    <h5>고객 가구의 자녀 수나 청소년 수가 높을 수록 불만 사항을 제기한 경우가 비례할 것이다</h5>

                                    {% for src in hypo4 %}
                                    <div class="row mt-5">
                                        <div class="col">
                                            <img src="{% get_static_prefix %}{{src}}" class="rounded" loading="lazy" style="width: 500px">
                                        </div>
                                        <div class="col mt-5">
                                            {% if src == 'theory_4_1.png' %}
                                                <li> 자녀 수가 적을 수록 컴플레인 건수는 적으나, 자녀 수 표본의 불균형으로 인해 불만 제기 빈도 자체는 큰 의미가 없음을 알 수 있다</li>
                                            {% endif %}
                                            {% if src == 'theory_4_2.png' %}
                                                <li> 자녀 수에 따른 불만 제기 비율을 살펴봤을 때, 어린 자녀의 수가 많을 수록 불만 제기하는 비율이 더 놓은 것으로 나타나나,
                                                    청소년 자녀의 수와 불만 제기 비율은 비례하지 않는 것으로 나타난다
                                                </li>
                                                <li>이에 자녀 수와 무관하게 단순 자녀 유무에 따른 불만 제기 비율을 살펴볼 필요성이 존재한다</li>
                                            {% endif %}
                                            {% if src == 'theory_4_3.png' %}
                                                <li>어린 자녀가 있는 가정의 경우, 불만 제기 비율이 어린 자녀가 없는 가정에 비해 약 2배로 눈에 띄게 높은 것을 알 수 있으나, 
                                                    청소년 자녀가 있는 가정의 경우, 유의미한 차이가 존재하지 않는 것으로 나타난다
                                                </li>
                                                <li>하지만, 이는 청소년 자녀 수가 3이상인 표본이 존재하지 않아 엄밀한 증명은 불가한 것으로 보인다</li>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <p id="result"></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>

                                    <h2 style="font-family: NanumBold;">결론</h2>
                                    <h5>
                                        <ul>
                                            <li>가설 1</li>
                                                <ul>
                                                    <li>자녀 수와 식습관 지출은 반비례한다</li>
                                                    <li>반대로, 자녀 수와 금 소비는 비례한다</li>
                                                </ul>
                                            <li>가설 2</li>
                                                <ul>
                                                    <li>결혼 상태와는 관계없이 비슷한 지출을 하며, 와인 > 고기 > 금의 순서로 지출의 크기가 줄어든다</li>
                                                    <li>결혼한 사람 > 동거 > 독신 > 이혼 순으로 구매 빈도가 높다</li>
                                                </ul>
                                            <li>가설 3</li>
                                                <ul>
                                                    <li>소득이 0일 때를 제외하고, 소득이 적을 수록 금의 구매량이 감소한다</li>
                                                    <li>소득순위가 높아질 수록 더욱 다양한 금액 투자가 이루어져 평균적인 금 구매량은 높을 것으로 추정된다</li>
                                                </ul>
                                            <li>가설 4</li>
                                                <ul>
                                                    <li>자녀 수 혹은 자녀 존재 여부와 컴플레인 비율은 정비례한다</li>
                                                    <li>아래의 그래프를 통해 청소년 자녀 존재 여부와 컴플레인 비율은 관계가 없음을 확인할 수 있다</li>
                                                    <li>그러나 청소년 자녀 수가 3 이상인 표본이 없어 3 이상일 때는 컴플레인 비율이 증가할지는 증명이 불가하다</li>
                                                </ul>
                                        </ul>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='wrapper' class="container-fluid bg-success">
            <style type = 'text/css'>
                a.git_link:link{color: #ffffff; text-decoration: none;}
                a.git_link:visited{color: #ffffff; text-decoration: none;}
                a.git_link:hover{color: #ffffff; text-decoration: none;}
            </style>
            <div class="text-center text-white" style="font-family: NanumExtReg; font-size: 15pt;">
                <a class="git_link" href="https://github.com/hunnxx"><img src="{% static 'github_icon_white.png' %}" width="20px" class="mb-2">김나훈 /</a>  
                <a class="git_link" href="https://github.com/Silinu1016/Monthly_Project1.git"><img src="{% static 'github_icon_white.png' %}" width="20px" class="mb-2">김수 /</a>  
                <a class="git_link" href="https://github.com/LJMoonCode"><img src="{% static 'github_icon_white.png' %}" width="20px" class="mb-2">이재문 /</a>  
                <a class="git_link" href="https://github.com/ehdwn1tp"><img src="{% static 'github_icon_white.png' %}" width="20px" class="mb-2">임동주</a> 
            </div>
        </div>
        <footer></footer>
    </body>
</html>